<template>
    <div class="tabs">
        <tabPane v-for="item in getSummaryInfo[0]" :item="item" :key="item.id"></tabPane>
    </div>
</template>

<script>
  import tabPane from './tabPane.vue';
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {

      }
    },
    components: {
      tabPane
    },
    computed: {
      ...mapGetters('state', [
        'getSummaryInfo'
      ])
    }
  }
</script>

<style scoped lang="scss">
    .tabs {
        display: flex;
        flex-direction: row;
        font-size: 0;
        justify-content: space-between;
        margin-bottom: 30px;
    }
</style>
