<template>
    <div class="tab-pane">
        <div class="item-count">
            {{item.count}}
        </div>
        <div class="item-name">
            {{item.name}}
        </div>
    </div>
</template>

<script>


  export default {
    data() {
      return {

      }
    },
    props: ['item'],
  }
</script>

<style scoped lang="scss">
    .tab-pane {
        width: -webkit-fill-available;;
        background-color: purple;
        color: white;
        border-radius: 5px;
        margin: 0 5px;
        text-align: left;
        padding: 10px;

        .item-count {
            font-size: 18px;
        }

        .item-name {
            font-size: 14px;
        }

        &:hover {
            cursor: pointer;
            background-color: #750080;
        }
    }

</style>
