<template>
    <div class="wrapper" :class="item.state">
        <div class="title">
            {{item.title}}
        </div>
        <div>
            <div class="filter">
                Синхронизировано
            </div>
            <div class="filter">
                Инфа
            </div>
            <div class="filter">
                Прайс
            </div>
            <div class="filter">
                Фото
            </div>
            <div class="filter">
                Акции
            </div>
        </div>
        <div class="bottom-info">
            <div>
                {{item.rating}} из 5 &bull; {{item.review}} отзыв{{plural(item.review, ['', 'a', 'ов'])}}, {{item.reply}} неотвеченн{{plural(item.reply, ['ый', 'ых', 'ых'])}}
            </div>
            <div>
                {{item.update}} обновлени{{plural(item.update, ['е', 'я', 'ий'])}}
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    data() {
      return {

      }
    },
    props: ['item'],
    methods: {
      plural(number, endings) {
        number = Math.abs(number);
        number %= 100;

        if (number >= 5 && number <= 20) {
          return endings[2];
        }

        number %= 10;
        if (number == 1) {
          return endings[0];
        }

        if (number >= 2 && number <= 4) {
          return endings[1];
        }

        return endings[2];
      }
    }
  }
</script>

<style scoped lang="scss">
    .wrapper {
        border: 1px solid #bcc7cb;
        border-radius: 5px;
        text-align: left;
        padding: 15px 20px;
        margin-bottom: 20px;

        .title {
            font-weight: 800;
            margin-bottom: 15px;
        }

        div.filter {
            border: 1px solid #bcc7cb;
            border-radius: 5px;
            padding: 5px;
            margin-bottom: 10px;
            display: inline-block;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
                color: white;
            }
        }

        &.purple {
            border-left: 5px solid purple;

            div.filter {

                &:hover {
                    background-color: purple;
                }
            }
        }

        &.orange {
            border-left: 5px solid orange;

            div.filter {

                &:hover {
                    background-color: orange;
                }
            }
        }

        &.gray {
            border-left: 5px solid gray;

            div.filter {

                &:hover {
                    background-color: gray;
                }
            }
        }
    }

    .bottom-info {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }



</style>
