<template>
  <div id="app">
    <summaryInfo></summaryInfo>
    <companyDescription v-for="item in getData" :item="item" :key="item.title"></companyDescription>
  </div>
</template>

<script>
  import summaryInfo from './summary/summaryInfo.vue';
  import companyDescription from './companyDescription/companyDescription.vue';
  import { mapGetters } from 'vuex';

  export default {
    data() {
      return {

      }
    },
    components: {
      summaryInfo,
      companyDescription
    },
    computed: {
      ...mapGetters('state', [
        'getData'
      ])
    },
    mounted() {
      this.$store.dispatch('state/updateData');
    }
  }
</script>


<style lang="scss">
  #app {
    text-align: center;
    padding: 100px;
  }
</style>
